*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
    margin: auto;
    width: 80%;
    position: relative;
}
.pic{
    width: 100%;
    height: 900px;
}
.effect{
    width: 300px;
    height: 50px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.counter{
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}
.thumb-right{
    position: absolute;
    right: -30px;
    top: 50%;
    font-size: 2em;
    cursor: pointer;
}
.thumb-left{
    position: absolute;
    left: -30px;
    top: 50%;
    font-size: 2em;
    cursor: pointer;
}
.blue-circle{
    width: 100%;
    height: 100%;
    background-color: blue;
    border-radius: 50%;
}