<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./asset/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div id="root">
        <img @mouseover="startTimer" @mouseleave="stopTimer" class="pic" :src="immagini[index]" alt="">
        <div @mouseover="stopTimer" @click="prevPhoto" class="thumb-left">
            <i class="fa-solid fa-angle-left"></i>
        </div>
        <div @mouseover="stopTimer" @click="nextPhoto" class="thumb-right">
            <i class="fa-solid fa-angle-right"></i>
        </div>
        <div @mouseover="stopTimer" class="effect">
            <div @click="index = 0" class="counter">
                <div class="blue-circle" v-if="index == 0"></div>
            </div>
            <div @click="index = 1" class="counter">
                <div class="blue-circle" v-if="index == 1"></div>
            </div>
            <div @click="index = 2" class="counter">
                <div class="blue-circle" v-if="index == 2"></div>
            </div>
            <div @click="index = 3" class="counter">
                <div class="blue-circle" v-if="index == 3"></div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <script src="./asset/js/main.js"></script>
</body>
</html>
